
@{
    ViewData["Title"] = "Index";
    var items = ViewData["items"] as List<Sanpham>;
    var cart = ViewData["cart"] as Cart;
    var cds = ViewData["cartdetails"] as List<CartDetail>;
}

<section class="breadcrumb-section set-bg" data-setbg="../img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="../index.html">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stepper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        <!-- your steps here -->
                        <div class="step active" data-target="#logins-part">
                            <button type="button" disabled="disabled" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Đăng nhập</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step active" data-target="#information-part">
                            <a asp-controller="Shoppingcart"
                               asp-action="Index">
                                <button type="button" class="step-trigger"
                                        role="tab" aria-controls="information-part" id="information-part-trigger">
                                    <span class="bs-stepper-circle">2</span>
                                    <span class="bs-stepper-label">Chọn món</span>
                                </button>
                            </a>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#information-part">
                            <button type="button" class="step-trigger" disabled="disabled" role="tab" aria-controls="information-part" id="information-part-trigger">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Xác nhận/thanh toán</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#information-part">
                            <button type="button" disabled="disabled" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                <span class="bs-stepper-circle">4</span>
                                <span class="bs-stepper-label">Hoàn tất</span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <!-- your steps content here -->
                        <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        @if (items == null || items.Count < 1)
                        {
                            <h3>Giỏ hàng trống</h3>
                        }
                        else
                        {
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in items)
                                {
                                    var total = item.Gia * cds.Find(p => p.Masp == item.Masp).Quantity;
                                    <tr class="item-in-cart">
                                        <td class="shoping__cart__item">
                                            <img src="../img/product/@item.Hinhanh" alt="" style="max-width: 20%">
                                            <h5>@item.Tensp</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.Gia
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty pro-qty-add" data-id="@item.Masp">
                                                    <input type="text" value="@cds.Find(p => p.Masp == item.Masp).Quantity">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total">
                                            @total
                                        </td>
                                        <td class="shoping__cart__item__close" data-id="@item.Masp">
                                            <span class="icon_close"></span>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a asp-controller="Home" asp-action="Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        Upadate Cart
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li class="subtotal-cart">Subtotal <span>@cart.Total</span></li>
                        <li class="total-cart">Total <span>@cart.Total</span></li>
                    </ul>
                    <a asp-controller="CheckOut" asp-action="Index" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>

